<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
    <h1>User Page</h1>
    <table border="1">
        <tbody>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Password</th>
            <th>Role</th>
        </tr>
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.roles}"></td>
        </tr>
        </tbody>
    </table>
    <br>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Log out"/>
    </form>
</body>
</html>